:root {
  /* colors */
  --primary: #00473e;
  --secondary: #f2f7f5;
  --highlight: #faae2b;
  --red: #fa5246;
  --pink: #ffa8ba;
  --grey: #475d5b;
  --black: #00332c;

  /* fonts */
  --font-primary: "Work Sans", Arial, sans-serif;
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}
